*{
  margin: 0; /* Eliminamos los márgenes predeterminados del body */
  padding: 0; /* Eliminamos los rellenos predeterminados del body */
}

.App {
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh; /* El background ocupará el 100% de la altura de la pantalla */
  min-width: 100vw; /* El background ocupará el 100% del ancho de la pantalla */
}

.title {
  margin: 0;
  padding: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin: 5px 0;
}

input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Centro el botón horizontalmente */
}

.alert {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert.error {
  background-color: #dc3545;
  color: white;
}

.alert.success {
  background-color: #28a745;
  color: white;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
  form {
    max-width: 90%; /* Reducimos el ancho del formulario en pantallas más pequeñas */
  }
  input {
    width: 100%; /* Ancho del input al 100% en pantallas más pequeñas */
  }
}
